# Database
DATABASE_URL="postgresql://xarxa:xarxa@localhost:5432/xarxa?schema=public"

# NextAuth
NEXTAUTH_SECRET="" # Generate with: openssl rand -base64 32
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth (optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
